# Build files
/export

# local copy of dependencies
/.haxelib

# local grafana dashboard files
metrics/data/

# potential sensitive datasource information
metrics/.env

# potential ldtk backups we don't want in the repo
/backups

# haxefmod integration
fmod/CachedHaxeConstantsOutputLocation

# FMOD
fmod/.cache/
fmod/.unsaved/

# error files
dump/

# misc
.VSCodeCounter/
.DS_Store
